

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="section">
    <div class="container">
        <div class="columns is-centered">
          <div class="column is-4">
          <h2 class="title is-2">Edit <%= resource_name.to_s.humanize %></h2>
  
        <div class="field">
        <div class="control">
        <%= f.text_field :first_name, placeholder: 'First Name', class: "input is-info", required: true %>
        </div>
        </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <div class="field">
    <div class="control">
    <%= f.text_field :last_name, placeholder: 'Last Name', class: "input is-info", required: true %>
    </div>
    </div>
    <div class="field">
    <div class="control">
    <%= f.email_field :email, placeholder: 'Email', class: "input is-info", required: true %>
    </div>
    </div>

    <div class="field">
    <div class="control">
    <%= f.password_field :password, placeholder: 'Password', class: "input is-info", required: true %>
    </div>
    </div>

    <div class="field">
    <div class="control">
    <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: "input is-info", required: true%>
    </div>
    </div>

    <div class="field">
    <div class="control">
    <%= f.button :submit, "Update", class: "button is-info is-medium" %>
    </div>
 
    </div>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    
    <%= link_to "Back", :back %>

    </div>
 
    </div>

    </div>
 
    </div>

   

<% end %>

